:root {
  --primary-font: "Rubik Beastly", cursive;
  --secondary-font: "Gideon Roman", cursive;
}

.header-homepage {
  background: black;
}

h1 {
  font-family: var(--primary-font);
}

h2,
h3 {
  font-family: var(--secondary-font);
}
